* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    height: 100vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(89, 12, 212);
  }
  
  .container {
    width: 80%;
    height: 450px;
    /* border: 1px solid black; */
  }
  
  .container .form {
    width: 500px;
    height: 450px;
    margin: 0 auto;
    /* border: 1px solid red; */
    background-color: white;
    border-radius: 10px;
    display: block;
    
  }
  .container .form .registration {
    font-weight: 600;
    padding: 15px;
    text-transform: capitalize;
    font-size: 20px;
    position: relative;
  }
  .container .form .registration::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    background-image: linear-gradient(to right, rgb(89, 12, 212), rgb(46, 11, 128));
    bottom: 10px;
    left: 15px;
    border-radius: 15px;
  }
  
  .flex {
    display: flex;
  }
  .flex .container-inputs {
    margin-left: 15px;
    margin-top: 10px;
  }
  .flex .container-inputs .mar {
    margin-left: 35px;
  }
  .flex .container-inputs [for=name], .flex .container-inputs [for=pass], .flex .container-inputs [for=passC], .flex .container-inputs [for=number], .flex .container-inputs [for=email], .flex .container-inputs [for=user] {
    text-transform: capitalize;
    font-weight: 500;
  }
  .flex .container-inputs [type=text], .flex .container-inputs [type=password] ,[type=number] ,[type=email]{
    padding: 8px;
    margin-top: 5px;
    height: 30px;
    width: 200px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #eee;
  }
  .flex .container-inputs [type=text]::-moz-placeholder, .flex .container-inputs [type=password]::-moz-placeholder , .flex .container-inputs [type=number]::-moz-placeholder{
    text-transform: capitalize;
    padding-left: 3px;
    color: rgb(113, 106, 106);
  }
  .flex .container-inputs [type=text]:-ms-input-placeholder, .flex .container-inputs [type=password]:-ms-input-placeholder , .flex .container-inputs [type=number]:-ms-input-placeholder  {
    text-transform: capitalize;
    padding-left: 3px;
    color: rgb(113, 106, 106);
  }
  .flex .container-inputs [type=text]::placeholder, .flex .container-inputs [type=password]::placeholder ,[type=number]::placeholder ,[type=email]::placeholder{
    text-transform: capitalize;
    padding-left: 3px;
    color: rgb(113, 106, 106);
  }
  .gender {
    margin-top: 20px;
    margin-left: 15px;
  }
  .gender [for=gender] {
    font-weight: 500;
    text-transform: capitalize;
  }
  
  .container-radio {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;
  }
  
  button {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    border-radius: 5px;
    outline: none;
    border: 0;
    cursor: pointer;
    padding: 10px;
    color: white;
    letter-spacing: 1px;
    text-transform: capitalize;
    background-image: linear-gradient(to right, rgb(89, 12, 212), rgb(46, 11, 128));
  }
  @media (max-width:600px)
  {
  
  }